# diseases_outbreak_data_wrangling

The data could not be downloaded as one file, so I had to download it as 18 separate files stored in `outbreak_separate` folder.
let's loop through them and collect them in one clean file

## data gathering
in this step we import data to one data frame

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.DataFrame()

In [3]:
for i in range (1,19):
    file_dir = 'outbreak_separate/Outbreak_list'+str(i)+'.csv'
    temp_df = pd.read_csv(file_dir ,float_precision = 'high')
    df = df.append(temp_df)

## data assessing and cleaning
in this step we look at the data to see problems or any thing that could be made better

In [14]:
print ('this data set has '+ str(df.shape[1]) +' columns and ' + str(df.shape[0]) + ' rows')

this data set has 24 columns and 89610 rows

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89610 entries, 0 to 4609
Data columns (total 24 columns):
Id                    89610 non-null int64
source                89610 non-null object
latitude              89610 non-null float64
longitude             89610 non-null float64
region                89610 non-null object
country               89610 non-null object
admin1                89610 non-null object
localityName          89610 non-null object
localityQuality       89610 non-null object
observationDate       81211 non-null object
reportingDate         89610 non-null object
status                89610 non-null object
disease               89610 non-null object
serotypes             49424 non-null object
speciesDescription    84157 non-null object
sumAtRisk             49369 non-null float64
sumCases              67014 non-null float64
sumDeaths             61866 non-null float64
sumDestroyed          53394 non-null float64
sumSlaughtered        39758 non-null float64
humansGenderDesc      829 non-null object
humansAge             4867 non-null float64
humansAffected        5444 non-null float64
humansDeaths          2090 non-null float64
dtypes: float64(10), int64(1), object(13)
memory usage: 17.1+ MB

we will start by renaming the columns

In [17]:
df.rename(columns= {'Id' : 'id',
                    'localityName' : 'locality_name',
                    'localityQuality' : 'locality_quality',
                    'observationDate' : 'observation_date',
                    'reportingDate' : 'reporting_date',
                    'speciesDescription' : 'species_description',
                    'sumAtRisk' : 'sum_at_risk',
                    'sumCases' : 'sum_cases',
                    'sumDeaths' : 'sum_deaths',
                    'sumDestroyed' : 'sum_destroyed',
                    'sumSlaughtered' : 'sum_slaughtered',
                    'humansGenderDesc' : 'humans_gender_desc',
                    'humansAge' : 'humans_age',
                    'humansAffected' : 'humans_affected',
                    'humansDeaths' : 'humans_deaths'} , inplace= True)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89610 entries, 0 to 4609
Data columns (total 24 columns):
id                     89610 non-null int64
source                 89610 non-null object
latitude               89610 non-null float64
longitude              89610 non-null float64
region                 89610 non-null object
country                89610 non-null object
admin1                 89610 non-null object
locality_name          89610 non-null object
locality_quality       89610 non-null object
observation_date       81211 non-null object
reporting_date         89610 non-null object
status                 89610 non-null object
disease                89610 non-null object
serotypes              49424 non-null object
species_description    84157 non-null object
sum_at_risk            49369 non-null float64
sum_cases              67014 non-null float64
sum_deaths             61866 non-null float64
sum_destroyed          53394 non-null float64
sum_slaughtered        39758 non-null float64
humans_gender_desc     829 non-null object
humans_age             4867 non-null float64
humans_affected        5444 non-null float64
humans_deaths          2090 non-null float64
dtypes: float64(10), int64(1), object(13)
memory usage: 17.1+ MB

In [34]:
df.head()

,id,source,latitude,longitude,region,country,admin1,locality_name,locality_quality,observation_date,...,species_description,sum_at_risk,sum_cases,sum_deaths,sum_destroyed,sum_slaughtered,humans_gender_desc,humans_age,humans_affected,humans_deaths
0,266234,National authorities,38.081036,126.926559,Asia,Republic of Korea,Kyonggi-do,Seokjang-ri,Unknown,15/02/2020,...,"wild, wild boar",NaN,1.0,1.0,NaN,NaN,NaN,0.0,NaN,NaN
1,266232,National authorities,31.757770,110.774160,Asia,China,Hubei Sheng,"Qingquan Village,Songbai Township,",Exact,01/03/2020,...,"wild, wild boar",NaN,2.0,2.0,NaN,NaN,NaN,0.0,NaN,NaN
2,266231,National authorities,24.140000,47.300000,Asia,Saudi Arabia,Riyad,Al KAaConfirmed MERS-CoV in a human in Saudi A...,Centroid Admin1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Male,39.0,1.0,NaN
3,266188,OIE,24.254960,97.343550,Asia,Myanmar,Kachin,"Dokphoneyan, Ward 1",Exact,22/02/2020,...,"domestic, swine",365.0,3.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN
4,266187,OIE,49.773761,5.504076,Europe,Belgium,Region wallonne,Leglise,Exact,21/02/2020,...,"wild, unspecified mammal",NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df.to_csv('outbreak_all_data.csv',index= False)