In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('outbreak_all_data.csv')

/home/ahmed-hanafi/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89693 entries, 0 to 89692
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   89693 non-null  int64
 1   source               89693 non-null  object
 2   latitude             89693 non-null  float64
 3   longitude            89693 non-null  float64
 4   region               89693 non-null  object
 5   country              89693 non-null  object
 6   admin1               89693 non-null  object
 7   locality_name        89693 non-null  object
 8   locality_quality     89693 non-null  object
 9   observation_date     81289 non-null  object
 10  reporting_date       89693 non-null  object
 11  status               89693 non-null  object
 12  disease              89693 non-null  object
 13  serotypes            49429 non-null  object
 14  species_description  84235 non-null  object
 15  sum_at_risk          49375 non-null  float64
 16  sum_cases            67092 non-null  float64
 17  sum_deaths           61942 non-null  float64
 18  sum_destroyed        53398 non-null  float64
 19  sum_slaughtered      39758 non-null  float64
 20  humans_gender_desc   829 non-null    object
 21  humans_age           4870 non-null   float64
 22  humans_affected      5449 non-null   float64
 23  humans_deaths        2090 non-null   float64
dtypes: float64(10), int64(1), object(13)
memory usage: 16.4+ MB

In [11]:
df.reporting_date.max()

'31/12/2019'

In [12]:
df.reporting_date.min()

'01/01/2004'

In [34]:
pd.to_datetime(df.reporting_date,dayfirst=True).min()

Timestamp('2004-01-01 00:00:00')

In [33]:
pd.to_datetime(df.reporting_date,dayfirst=True).max()

Timestamp('2020-03-16 00:00:00')

In [32]:
pd.to_datetime(df.reporting_date,dayfirst=True).sort_values()

80711   2004-01-01
80416   2004-01-01
81495   2004-01-01
79657   2004-01-01
81472   2004-01-01
           ...
89640   2020-03-13
89641   2020-03-13
89623   2020-03-13
89610   2020-03-14
89643   2020-03-16
Name: reporting_date, Length: 89693, dtype: datetime64[ns]

In [31]:
pd.to_datetime(df.reporting_date,dayfirst=True)

0       2020-02-27
1       2020-03-03
2       2020-03-05
3       2020-03-03
4       2020-03-03
           ...
89688   2020-03-10
89689   2020-03-10
89690   2020-03-08
89691   2020-03-07
89692   2020-03-12
Name: reporting_date, Length: 89693, dtype: datetime64[ns]

In [30]:
df.reporting_date.tail()

89688    10/03/2020
89689    10/03/2020
89690    08/03/2020
89691    07/03/2020
89692    12/03/2020
Name: reporting_date, dtype: object

266752