# diseases_outbreak_data_wrangling

The data could not be downloaded as one file, so I had to download it as 18 separate files stored in `outbreak_separate` folder.
let's loop through them and collect them in one clean file

## data gathering
in this step we import data to one data frame

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.DataFrame()

In [4]:
for i in range (1,19):
    file_dir = 'outbreak_separate_new/Outbreak_list'+str(i)+'.csv'
    temp_df = pd.read_csv(file_dir ,float_precision = 'high')
    df = df.append(temp_df)

## data assessing and cleaning
in this step we look at the data to see problems or any thing that could be made better

In [5]:
print ('this data set has '+ str(df.shape[1]) +' columns and ' + str(df.shape[0]) + ' rows')

this data set has 24 columns and 90000 rows

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90000 entries, 0 to 4999
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  90000 non-null  int64
 1   source              90000 non-null  object
 2   latitude            90000 non-null  float64
 3   longitude           90000 non-null  float64
 4   region              90000 non-null  object
 5   country             90000 non-null  object
 6   admin1              90000 non-null  object
 7   localityName        90000 non-null  object
 8   localityQuality     90000 non-null  object
 9   observationDate     81345 non-null  object
 10  reportingDate       90000 non-null  object
 11  status              90000 non-null  object
 12  disease             90000 non-null  object
 13  serotypes           41900 non-null  object
 14  speciesDescription  84644 non-null  object
 15  sumAtRisk           47726 non-null  float64
 16  sumCases            73216 non-null  float64
 17  sumDeaths           65316 non-null  float64
 18  sumDestroyed        52675 non-null  float64
 19  sumSlaughtered      37521 non-null  float64
 20  humansGenderDesc    864 non-null    object
 21  humansAge           5476 non-null   float64
 22  humansAffected      5338 non-null   float64
 23  humansDeaths        2039 non-null   float64
dtypes: float64(10), int64(1), object(13)
memory usage: 17.2+ MB

we will start by renaming the columns

In [7]:
df.rename(columns= {'Id' : 'id',
                    'localityName' : 'locality_name',
                    'localityQuality' : 'locality_quality',
                    'observationDate' : 'observation_date',
                    'reportingDate' : 'reporting_date',
                    'speciesDescription' : 'species_description',
                    'sumAtRisk' : 'sum_at_risk',
                    'sumCases' : 'sum_cases',
                    'sumDeaths' : 'sum_deaths',
                    'sumDestroyed' : 'sum_destroyed',
                    'sumSlaughtered' : 'sum_slaughtered',
                    'humansGenderDesc' : 'humans_gender_desc',
                    'humansAge' : 'humans_age',
                    'humansAffected' : 'humans_affected',
                    'humansDeaths' : 'humans_deaths'} , inplace= True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90000 entries, 0 to 4999
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   90000 non-null  int64
 1   source               90000 non-null  object
 2   latitude             90000 non-null  float64
 3   longitude            90000 non-null  float64
 4   region               90000 non-null  object
 5   country              90000 non-null  object
 6   admin1               90000 non-null  object
 7   locality_name        90000 non-null  object
 8   locality_quality     90000 non-null  object
 9   observation_date     81345 non-null  object
 10  reporting_date       90000 non-null  object
 11  status               90000 non-null  object
 12  disease              90000 non-null  object
 13  serotypes            41900 non-null  object
 14  species_description  84644 non-null  object
 15  sum_at_risk          47726 non-null  float64
 16  sum_cases            73216 non-null  float64
 17  sum_deaths           65316 non-null  float64
 18  sum_destroyed        52675 non-null  float64
 19  sum_slaughtered      37521 non-null  float64
 20  humans_gender_desc   864 non-null    object
 21  humans_age           5476 non-null   float64
 22  humans_affected      5338 non-null   float64
 23  humans_deaths        2039 non-null   float64
dtypes: float64(10), int64(1), object(13)
memory usage: 17.2+ MB

In [9]:
df.head()

,id,source,latitude,longitude,region,country,admin1,locality_name,locality_quality,observation_date,...,species_description,sum_at_risk,sum_cases,sum_deaths,sum_destroyed,sum_slaughtered,humans_gender_desc,humans_age,humans_affected,humans_deaths
0,284948,OIE,52.03,14.60,Europe,Germany,Brandenburg,\tSchenkend√∂bern,Exact,15/12/2020,...,"wild,wild boar:sus scrofa (suidae))",NaN,2.0,2.0,NaN,NaN,NaN,0.0,NaN,NaN
1,284947,National authorities,52.60,14.59,Europe,Germany,Brandenburg,Bleyen-Genschmar,Exact,16/12/2020,...,"wild,wild boar:sus scrofa (suidae))",NaN,2.0,2.0,NaN,NaN,NaN,0.0,NaN,NaN
2,284945,OIE,52.07,14.54,Europe,Germany,Brandenburg,Neuzelle,Exact,10/12/2020,...,"wild,wild boar:sus scrofa (suidae))",18.0,16.0,2.0,NaN,NaN,NaN,0.0,NaN,NaN
3,284944,OIE,52.14,14.43,Europe,Germany,Brandenburg,Grunow-Dammendorf,Exact,10/12/2020,...,"wild,wild boar:sus scrofa (suidae))",NaN,2.0,2.0,NaN,NaN,NaN,0.0,NaN,NaN
4,284943,OIE,52.10,14.42,Europe,Germany,Brandenburg,Friedland,Exact,10/12/2020,...,"wild,wild boar:sus scrofa (suidae))",21.0,17.0,4.0,NaN,NaN,NaN,0.0,NaN,NaN

In [10]:
df.to_csv('outbreak_all_data.csv',index= False)